<!-- <form style="padding: 5px 5px; border-radius: 5px">
  <input #searchBox id="profile-search-box" placeholder="Search">
</form> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-form-field>
  <input matInput
    matPrefix
    id="profile-search-box"
    class="search-input"
    type="search"
    [formControl]="searchProfile"
  >
  <mat-icon class="search-icon" (click)="search()">
    search
  </mat-icon>
  
</mat-form-field>
<div 
    *ngIf="this.searchView"
    class="position-fixed rounded px-0 p-3"
    style="
      max-width: 500px;
      max-height: 400px;
      overflow-y: auto;
      background-color: rgb(235, 233, 233);
      border-radius: black 5px;
      z-index: 100;
      margin-left: 20px;
    "
  >
    <div *ngFor="let profile of this.profileList"
    style="
      max-height: 120px;
      display: flex;
      align-items: center;
    ">
      <div>
        <a [routerLink]="['/profile', profile.email]">
          {{ profile.firstName }} {{ profile.lastName }}
        </a>
      </div>
    </div> 
  </div>
          
