<form style="padding: 5px 5px; border-radius: 5px">
    <input #autoCompleteInput type="text" id="profile-search-box" placeholder="Search" [formControl]="searchProfile" autoComplete="auto">
    <div *ngFor="let option of this.searchDataService.searchOption" (removed)="removeOption(option)">
        <span>{{option.firstName}}</span>
    </div>
    <div #auto displayWith="displayFn">
        <option *ngFor="let option of autoCompleteList" value="option" (onSelectionChange)="filterProfileList($event)">
            {{option.firstName}}
        </option>
    </div>

</form>