<!-- Box containing one post and its comments -->
<div *ngIf="post && user">
  <!-- Box for making new comments responding to the post -->
  <div class="card mt-2 mb-2">
    <div class="d-flex justify-content-between p-2 px-3">
      <div class="d-flex mt-2 flex-row align-items-center flex-fill">
        <img
          src="{{ user.profilePictureUrl }}"
          alt="{{ user.profilePictureUrl }}"
          width="50"
          class="rounded-circle img-fluid"
        />
        <div class="d-flex flex-column ml-2">
          <a [routerLink]="['/profile', user.email]">
            <strong>{{ user.firstName }} {{ user.lastName }}</strong>
          </a>
          <small class="text-muted">{{
            post.createdAt | date: 'medium'
          }}</small>
        </div>
        <div *ngIf="user.email === userEmail;then is_my_post"></div>
        <ng-template #is_my_post>
          <div class="d-flex ml-auto">
            <div *ngIf="isEditing;then continue_edit else begin_edit"></div>
          <ng-template #continue_edit>
            <button
              (click)="cancelEditPost()"
              class="btn material-icons">close
            </button>
            <button
              (click)="endEditPost()"
              class="btn material-icons">save
            </button>
          </ng-template>
          <ng-template #begin_edit>
            <button
              (click)="startEditPost()"
              class="btn material-icons">edit
            </button>
          </ng-template>
            <button
              (click)="deletePost(post)"
              class="btn btn-outline-danger btn-xs"
            >
              delete post
            </button>
          </div>
        </ng-template>
      </div>
    </div>
    <img
      src="{{ post.pictureUrl }}"
      alt="{{ post.pictureUrl }}"
      class="img-fluid"
    />
    <div class="p-2">
      <div *ngIf="isEditing;then edit_content else show_content"></div>
      <ng-template #show_content>
        <p class="ml-5">{{ post.content }}</p>
      </ng-template>
      <ng-template #edit_content>
        <textarea class="form-control" [(ngModel)]="editContent"></textarea>
      </ng-template>
      <hr />
      <div class="d-flex justify-content-between align-items-center">
        <app-like-view
          [liked]="isLikedByUser"
          [postId]="post.id"
          [count]="post.likes.length"
          [resourceCollection]="resourceCollection"
        ></app-like-view>
      </div>
      <hr />
      <div *ngIf="post.comments != undefined">
        <div class="social-body">
          <!-- Iteration through all comments for the post -->
          <div *ngIf="post.comments != undefined">
            <ul *ngFor="let comment of post.comments">
              <app-comment-view
                (delete)="deleteComment($event)"
                [comment]="comment"
                [currentUserEmail]="user.email"
              ></app-comment-view>
              <hr />
            </ul>
          </div>
        </div>
      </div>
      <app-comment-form
        [postId]="post.id"
        (notifyComment)="onNotifyComment($event)"
      ></app-comment-form>
    </div>
  </div>
</div>
