<div class="" *ngIf="user">
  <img
    id="cover"
    src="https://i.imgur.com/DUZtAAt.png"
    class="img-fluid"
    alt="cover"
  />
  <img
    id="profile-picture"
    class="img-fluid rounded-circle mx-auto img-float d-block img-md"
    src="{{ user?.profilePictureUrl }}"
    alt="noimage"
  />
  <h2 class="d-flex justify-content-center">
    {{ user?.firstName }} {{ user?.lastName }}
  </h2>
  <div *ngIf="user.email != currentUserEmail" class="col text-center">
    <button 
      type="button" 
      class="btn text-center" 
      [class]="followStatus ? 'btn-success' : 'btn-primary'" 
      (click)="followUser()"
    >
      <div *ngIf="followStatus">
        Following
      </div>
      <div *ngIf="!followStatus">
        Follow
      </div>
    </button>
  </div>
</div>
<div class="container" *ngIf="user">
  <div class="row">
    <div class="gutters-sm col-md-4 mt-4">
      <div class="mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-left">
              <div id="profile-view" class="mt-3">
                <p class="text-muted mb-1">{{ user?.birthDate | date:'fullDate' }}</p>
                <p class="text-muted mb-1">{{ user?.phoneNumber }}</p>
                <p class="text-muted mb-1">{{ user?.email }}</p>
                <p class="text-muted mb-1">{{ user?.status }}</p>
                <!-- <div class="profile-buttons">
                    <app-profile-edit *ngIf="selfProfileCheck" [user]="user"></app-profile-edit>
                  </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!user">no user</div>
