<button type="button" class="btn btn-default"
    (click)="toggleNotifications()"
    style= "padding: 5px 5px; border-radius: 5px;">
    <img src="../../assets/notifications-icon.png" style="width: 24px; height: 28px;">
</button>

<div *ngIf="this.notifications_view" 
    class="position-fixed bg-secondary rounded
            px-0 p-3"
    style="max-width: 500px; max-height: 400px; overflow-y: auto;">

    <div *ngFor="let notif of this.notifications" class="notif-block"
     style="height: 60px; display: flex; align-items: center; border-bottom: 1px solid black;">
        <div *ngIf="notif.type == 'Like'" >Here is person {{notif.userId}} liking post {{notif.postId}}</div>
        <div *ngIf="notif.type == 'Post'">Here is person {{notif.userId}} posting post {{notif.postId}}</div>
        <div *ngIf="notif.type == 'Comment'">Here is person {{notif.userId}} commenting on post {{notif.postId}}</div>
        <div *ngIf="notif.type == 'Follow'">Here is person {{notif.userId}} following you</div>
    </div>
</div>
